@use "../../styles/utils/variables";
@use "../../styles/utils/mixins";

.BurgerMenu {
  position: fixed;
  z-index: variables.$z-index-burger-menu;
  top: variables.$header-height-mobile;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(100%);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding-top: 24px;

  background-color: variables.$white-color;
  border-top: 1px solid variables.$gray-elements;

  transition: transform variables.$default-transition * 2 ease-in-out;

  @include mixins.on-tablet {
    display: none;
  }

  &--opened {
    transform: translateX(0);
  }

  &__icons {
    display: flex;
    flex-direction: row;
    border-top: 1px solid variables.$gray-elements;
  }
}
