@use "../../styles/utils/variables";
@use "../../styles/utils/mixins";
@use "../../styles/utils/placeholders";

.Footer {
  background-color: variables.$white-color;
  box-shadow: 0 -1px 0 0 variables.$gray-elements;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-block: 32px;

    @include mixins.on-tablet {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    @include mixins.on-tablet {
      justify-content: center;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include mixins.on-tablet {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    @include mixins.on-desktop {
      min-width: 400px;
    }
  }

  &__link {
    @extend %uppercase;

    display: block;
    color: variables.$gray-secondary;
    transition: color variables.$default-transition;

    @media (hover: hover) {
      &:hover {
        color: variables.$gray-primary;
      }
    }
  }

  &__button {
    @extend %small-text;

    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;

    color: variables.$gray-secondary;

    transition: color variables.$default-transition;

    @media (hover: hover) {
      &:hover {
        color: variables.$gray-primary;
      }
    }
  }

  &__button-icon {
    border: 1px solid variables.$gray-icons-placeholders;
    transition: border-color variables.$default-transition;
  }
}

.Footer__button:hover .Footer__button-icon {
  border-color: variables.$gray-primary;
}
