@use "../../styles/utils/variables";
@use "../../styles/utils/mixins";
@use "../../styles/utils/placeholders";

.Modal {
  @include mixins.square(100%);

  position: absolute;
  z-index: variables.$z-index-modal;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__content {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-width: 200px;
    padding: 24px;

    text-align: center;

    background-color: variables.$white-color;
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.1);
  }

  @include mixins.on-tablet {
    padding: 40px;
  }

  &__close {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 10px;

    @media (hover: hover) {
      // don't blame me for this pls (@ruslanpashkov)
      &:hover > div > svg {
        color: variables.$gray-primary;
      }
    }
  }

  &__success {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    margin-bottom: 8px;

    @include mixins.on-tablet {
      width: 60px;
    }

    @include mixins.on-desktop {
      width: 80px;
    }
  }

  &__title {
    @extend %h4;

    margin-bottom: 4px;
    color: variables.$gray-primary;

    @include mixins.on-tablet {
      margin-bottom: 8px;
    }
  }

  &__message {
    @extend %body-text;

    margin-bottom: 14px;
    color: variables.$gray-primary;

    @include mixins.on-tablet {
      margin-bottom: 20px;
    }
  }
}
